_site
.jekyll-metadata
[Oo]bj/
[Bb]in/
[Tt]est[Rr]esults/
.nuget/
_ReSharper.*/
**/packages/*
!**/packages/build/
artifacts/
PublishProfiles/
*.user
*.suo
*.[Cc]ache
!*.[Cc]ache/
*.docstates
_ReSharper.*
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
.vs/
.build/
.testPublish/
*.sln.docstates
[Bb]uild[Ll]og.*
*.nupkg
src/.idea/