name: Build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore src/fdc3-dotnet.sln

    - name: Build
      run: dotnet build src/fdc3-dotnet.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test src/fdc3-dotnet.sln --no-build --verbosity normal --collect:"XPlat Code Coverage" --configuration Release

    - name: Pack Fdc3
      run:
        dotnet pack src/Fdc3/Finos.Fdc3.csproj --no-build --configuration Release --output packages

    - name: Pack Fdc3.NewtonsoftJson
      run:
        dotnet pack src/Fdc3.NewtonsoftJson/Finos.Fdc3.NewtonsoftJson.csproj --no-build --configuration Release --output packages
        
    - name: Pack Fdc3.Json
      run:
        dotnet pack src/Fdc3.Json/Finos.Fdc3.Json.csproj --no-build --configuration Release --output packages        

    - name: Pack Fdc3.AppDirectory
      run:
        dotnet pack src/Fdc3.AppDirectory/Finos.Fdc3.AppDirectory.csproj --no-build --configuration Release --output packages

    - name: Upload
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      with:
        name: package
        path: packages/*.nupkg
        if-no-files-found: error

    - name: Codecov
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4.5.0
