name: Build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore src/fdc3-dotnet.sln

    - name: Build
      run: dotnet build src/fdc3-dotnet.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test src/fdc3-dotnet.sln --no-build --verbosity normal --collect:"XPlat Code Coverage" --configuration Release

    - name: Pack Fdc3
      run:
        dotnet pack src/Fdc3/MorganStanley.Fdc3.csproj --no-build --configuration Release --output packages

    - name: Pack Fdc3.Json
      run:
        dotnet pack src/Fdc3.NewtonsoftJson/MorganStanley.Fdc3.NewtonsoftJson.csproj --no-build --configuration Release --output packages

    - name: Pack Fdc3.AppDirectory
      run:
        dotnet pack src/Fdc3.AppDirectory/MorganStanley.Fdc3.AppDirectory.csproj --no-build --configuration Release --output packages

    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: package
        path: packages/*.nupkg
        if-no-files-found: error

    - name: Codecov
      uses: codecov/codecov-action@v3.1.4