name: Build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
      id-token: write    

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: 10.x

    - name: Restore dependencies
      run: dotnet restore src/fdc3-dotnet.sln

    - name: Build
      run: dotnet build src/fdc3-dotnet.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test src/fdc3-dotnet.sln --no-build --verbosity normal --collect:"XPlat Code Coverage" --configuration Release

    - name: Pack Fdc3
      run:
        dotnet pack src/Fdc3/Finos.Fdc3.csproj --no-build --configuration Release --output packages

    - name: Pack Fdc3.NewtonsoftJson
      run:
        dotnet pack src/Fdc3.NewtonsoftJson/Finos.Fdc3.NewtonsoftJson.csproj --no-build --configuration Release --output packages
        
    - name: Pack Fdc3.Json
      run:
        dotnet pack src/Fdc3.Json/Finos.Fdc3.Json.csproj --no-build --configuration Release --output packages        

    - name: Pack Fdc3.AppDirectory
      run:
        dotnet pack src/Fdc3.AppDirectory/Finos.Fdc3.AppDirectory.csproj --no-build --configuration Release --output packages

    - name: Upload
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: package
        path: packages/*.nupkg
        if-no-files-found: error

    - name: Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        use_oidc: true